{% extends 'base.html' %}

{% block home %}
<section class="page-section bg-secondary" id="recherche">
<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Du gras oui, mais de qualité !</h1>
        <hr class="divider my-4">
    </div>
    <div class="col-lg-8 align-self-baseline">
        <p class="text-white-75 font-weight-light mb-5">Commencez par chercher un produit</p>
        <a id="search_product_button" class="btn btn-primary btn-xl js-scroll-trigger" href="/openfoodfact/search_product/">Vous recherchez un produit ?</a>
    </div>
    </div>
</div>
</section>
<section class="page-section">
  <div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">  
        <div class="col-lg-10 align-self-end">
        <h1 class="text-uppercase text-grey font-weight-bold">Colette Tatou :</h1>
        <h3 class="text-grey font-fa-italic">"Nous aimons tous manger, surtout en France ! Personnellement, une baguette fraîche, du bon fromage de chèvre et un bon vin rouge me suffisent amplement. Comme tout le monde, je fais mes courses au supermarché. Mais petit à petit je me suis rendue compte, surtout lorsque nous avons ouvert le restaurant, que je pouvais remplacer les produits aseptisés que j'avais l'habitude d'acheter par de bons produits du terroir Et souvent pour le même prix !"
        </h3>
        <img src="/static/img/personnage/colette-tatou-full.png">
        <h1 class="text-uppercase text-grey font-weight-bold">Remy : </h1>
        <h3 class="text-grey font-fa-italic">""Pour ma part je me rendais déjà dans bien des magasins car j'aime beaucoup me balader, surtout dans les caves et les cuisines. Je connaissais par coeur le contenu des boutiques bio (dont je raffole) ainsi que les ingrédients de tous les aliments vendus. Lorsque Colette m'a demandé si elle pouvait remplacer son Nutella matinal par un aliment plus sain, je savais tout de suite où le trouver. L'idée de Pur Beurre était née !""
        </h3>
        <img src="/static/img/personnage/ratatouille-portrait.jpg " style="width: 50%;">



</section>
{% endblock home %}