{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div id="legend">
        <legend class="">Liste de tous les substituts du produit que vous avez selectionné</legend>
    </div>
    <div class="row">
        {% for product in replace_products %}
            <div class="card" style="width: 18rem;">
                <img src="{{ product.url_image_recto }}" class="card-img-top" alt="..." style="
                height: 100px;
                width: 100px;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">Nutriscore: {{ product.nutriscore }}</p>
                    <a href="/openfoodfact/replace/?id={{ product.pk }}" class="btn btn-primary">Proposer un substitut</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="pagination">
    <span class="step-links">
        {% if replace_products.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ replace_products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ replace_products.number }} of {{ replace_products.paginator.num_pages }}.
        </span>

        {% if replace_products.has_next %}
            <a href="?page={{ replace_products.next_page_number }}">next</a>
            <a href="?page={{ replace_products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock content %}