{% extends 'base.html' %}

{% load static %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="{% static 'vendor/magnific-popup/magnific-popup.css' %} "rel="stylesheet">

<!-- Theme CSS - Includes Bootstrap -->
<link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

{% block content %}
<section class="page-section bg-secondary">
<div class="container-fluid">
    <div class="legend align-items-center justify-content-center text-center">
        <h1 class="text-uppercase text-white font-weight-bold">Liste de tous les substituts du produit que vous avez selectionné</h1>
    </div>
    <div class="row align-items-center justify-content-center text-center">
        {% for product in replace_products %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <img src="{{ product.url_image_recto }}" class="card-img-top" alt="..." style="
                    height: 100px;
                    width: 100px;">
                    <img class="img-pastille" src="/static/img/pastilles/{{ product.nutriscore }}.png" style="position: relative; left: -4%; top: -28px;">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                </div>
                <div class="card-footer">
                    <a id="save_substitut_button" href="/openfoodfact/save_replacement/?id_product_to_replace={{ product_to_replace.id }}&id_replace_product={{ product.id }}" class="btn btn-primary">Enregistrer le substitut</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="row align-items-center justify-content-center text-center">
<div class="pagination">
    <span class="step-links">
        {% if replace_products.has_previous %}
            <a class="text-primary font-weight-bold" href="/openfoodfact/replace/?id={{ id_product }}&page=1">&laquo; first</a>
            <a class="text-primary font-weight-bold" href="/openfoodfact/replace/?id={{ id_product }}&page={{ replace_products.previous_page_number }}">previous</a>
        {% endif %}

        <span class="text-primary font-weight-bold">
            Page {{ replace_products.number }} of {{ replace_products.paginator.num_pages }}.
        </span>

        {% if replace_products.has_next %}
            <a class="text-primary font-weight-bold" href="/openfoodfact/replace/?id={{ id_product }}&page={{ replace_products.next_page_number }}">next</a>
            <a class="text-primary font-weight-bold" href="/openfoodfact/replace/?id={{ id_product }}&page={{ replace_products.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</section>
{% endblock content %}