{% extends 'base.html' %}

{% load static %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="{% static 'vendor/magnific-popup/magnific-popup.css' %} "rel="stylesheet">

<!-- Theme CSS - Includes Bootstrap -->
<link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

{% block content %}
<section class="page-section">
<div id="legend">
    <legend class="">Faites votre recherche</legend>
</div>
<form class="form-horizontal" action='' method="POST" style="margin: 20">
{% csrf_token %}
    <div class="control-group">
      {{ form }}
    </div>
</form>
</section>
{% endblock content %}
