{% extends 'base.html' %}

{% load static %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="{% static 'vendor/magnific-popup/magnific-popup.css' %} "rel="stylesheet">

<!-- Theme CSS - Includes Bootstrap -->
<link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

{% block content %}
<section class="page-section bg-secondary" id="recherche">
<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center text-center">
    <div class="col-lg-8 align-self-end">
        <h1 class="text-uppercase text-white font-weight-bold">Faites votre recherche:</h1>
        <form class="form-horizontal" action='/openfoodfact/search_product/' method="GET" style="margin: 20">
            <input id="search_product_home2" type="text" class="form-control" name="q" aria-describedby="helpId" placeholder="Recherche...">
        </form>
    </div>
    </div>
</div>
</section>
{% endblock content %}
