{% extends 'base.html' %}

{% load static %}

<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- Plugin CSS -->
<link href="{% static 'vendor/magnific-popup/magnific-popup.css' %} "rel="stylesheet">

<!-- Theme CSS - Includes Bootstrap -->
<link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

{% block content %}

{% if response %}
<section class="page-section bg-secondary">
<div class="container-fluid align-items-center justify-content-center text-center">
    <div class="legend align-items-center justify-content-center text-center">
        <h1 class="text-uppercase text-white font-weight-bold">{{ response }}</h1>
    </div> 
</div>
</section>

{% else %}
<section class="page-section bg-secondary">
<div class="container-fluid align-items-center justify-content-center text-center">
    <div class="legend align-items-center justify-content-center text-center">
        <h1 class="text-uppercase text-white font-weight-bold">Vos Enregistrements</h1>
    </div> 
    <div class="row align-items-center justify-content-center text-center">
        {% for result in results %}
			<div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <img src="{{ result.product_to_replace.url_image_recto }}" class="card-img-top" alt="..." style="
                        height: 100px;
                        width: 100px;">
                        <img class="img-pastille align-right" src="/static/img/pastilles/{{ result.product_to_replace.nutriscore }}.png" style="position: relative; left: -4%; top: -28px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.product_to_replace.name }}</h5>
                        </div>
                        <div class="card-footer">
                            <a href="/openfoodfact/more_informations/?id={{ result.product_to_replace.id }}" class="btn btn-primary">Plus d'infos</a>
                        </div>
                    </div>
				</div>
            </div>
            <div class="col-md-4">
                <img src="/static/img/arrow.png" style="width: 34%;">
                {% comment %} <a href="/openfoodfact/delete_save/?id_save={{ result.id_save }}" class="btn btn-primary">Supprimer l'enregistrement</a> {% endcomment %}
            </div>
            <div class="col-md-4">
				<div class="card">
                    <div class="card-header">
                        <img src="{{ result.replace_product.url_image_recto }}" class="card-img-top" alt="..." style="
                        height: 100px;
                        width: 100px;">
                        <img class="img-pastille align-right" src="/static/img/pastilles/{{ result.replace_product.nutriscore }}.png" style="position: relative; left: -4%; top: -28px;">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.replace_product.name }}</h5>
                        </div>
                        <div class="card-footer">
                            <a href="/openfoodfact/more_informations/?id={{ result.replace_product.id }}" class="btn btn-primary">Plus d'infos</a>
                        </div>
                    </div>
				</div>
			</div>
        {% endfor %}
    </div>
</div>
</section>
{% endif %}
{% endblock content %}