{% load static %}

{% if error %}
<p><strong>Utilisateur inconnu ou mauvais de mot de passe.</strong></p>
{% endif %}

{% if user.is_authenticated %}
Vous êtes connecté, {{ user.username }} !
{% else %}

<form class="form-horizontal" action='' method="POST" style="margin: 20">
  {% csrf_token %}

  <fieldset>
    <div id="legend">
      <legend class="">Connexion</legend>
    </div>
    <div class="control-group">
      {{ form.as_p }}
    </div>
 
    <div class="control-group">
    <!-- Button -->
      <button class="btn btn-success">Connexion</button>
      <a href="/connexion/registration">S'incrire</button>
    </div>
  </fieldset>
</form>
{% endif %}
